/**
 * Custom styles for core blocks.
 */

.wp-block-post-title {
	@apply mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl;
	@apply leading-snug;
}

.wp-block-quote {
	border-left: 0.25em solid var(--wp--preset--color--gray-md) !important;

	p {
		@apply pl-6;
	}
}

.wp-block-navigation {

	.submenu-container,
	&__submenu-container,
	&:not(.has-background) &__submenu-container {
		/*background-color: var(--wp--preset--color--gray-lt) !important;*/
		box-shadow: -5px 0px 5px -3px  var(--wp--preset--color--gray-dark);

		@media( max-width: 600px ) {
			box-shadow: 0 0 0;
		}
	}

	ul {
		transition: all .4s ease-in-out !important;

		li {
			@apply pb-2;
 
			a { 
				@apply text-sm text-gray-dark pb-2;
				text-transform: uppercase;
				letter-spacing: 0.025rem;

				&:active {
					@apply text-gray-dark;
				}
				&:visited {
					@apply text-gray-dark;
				}
				&:hover {
					@apply text-link-hover;
				}
			}

			button {
				svg {
					margin-top: -5px !important;
				}
			}

			ul {
				li {
					a {
						text-transform: none;
						letter-spacing: none;
					}

					ul {
						background-color: var(--wp--preset--color--gray-lt) !important;
					}
				}
			}
		}
	}	

	&__responsive-container-open {
		position: relative;
		top: -5px;
	}

	&__responsive-close {
		width: 100%;
		height: 100%;
		max-width: 100% !important;
		background: rgba( 0, 0, 0 .8) !important;
	} 
}
	

@media( max-width: 600px ) {

	.wp-block-navigation {

		ul {
			transition: all .2s ease-in;

			li {
				display: flex;
			}

			ul {
				transition: all .2s ease-in;
			}
		}

		&__responsive-container {
			padding: 0 !important;
			background: rgba( 0, 0, 0, .5) !important;
			overflow: auto;
		}


		&__responsive-container-content {
			background: #fff;
 			width: 75%;
			height: auto;
			min-height: 100%;
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			padding: 5rem 3rem 5rem 2rem;
			overflow: auto !important;
		}
	
		&__submenu-icon {
			align-self: flex-end !important;
			display: block !important;	
			margin-top: -15px !important;
			margin-right: -30px !important;			
		}
		

		&__responsive-container-close {
			right: 1rem !important;
		}

		.submenu-container,
		&__submenu-container,
		&:not(.has-background) &__submenu-container  {
			@apply pt-0 pr-0 pl-0 !important;
			min-width: fit-content !important;

			li {
				@apply pt-0 pb-0 pr-2 !important;

				a {
					padding-top: 1.5em !important;
				}

				ul {
					@apply pt-2 pr-5 !important;
				}
			}
		}

		.site-navigation {
			margin-top: 2rem;
		}
	}	

	.wp-block-navigation-submenu__toggle[aria-expanded=false] + .submenu-container {
		visibility: hidden !important;
		height: 0 !important;
	}

	.wp-block-navigation-submenu__toggle[aria-expanded=true] + .submenu-container {
		visibility: visible !important;
	}
} 

.single-post, .page {

	.wp-block-post-featured-image.alignfull img, .wp-block-post-featured-image.alignwide,
	.wp-block-post-featured-image {
		width:100%;
		img {
			object-fit: cover;
			max-height: auto;
			min-height: 300px;
		
		}
		
	}
}

.archive, .category, .home, .blog {
	.wp-block-post-featured-image {
		@apply pb-4;
	}
}

.post-meta {
	clear: both;
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: var( --wp--style--global--content-size );
	margin-block-start: 3em !important;
	@apply border-t border-gray-md;

	.wp-block-group:first-of-type {
		@apply flex justify-start gap-2 p-3 pl-0 text-slate-400 italic;
	}

	.wp-block-group {
		gap: 10px;
	}

	div, p {
		padding: 0;
		margin: 0 !important;
	}
}

.wp-block-comments {
	h2 {
		@apply pb-5;
	}
}

.comment-form-comment {
	@apply mt-5 mb-5;
}

#reply-title {
	@apply mb-3;
}

.wp-block-button {
	padding: 0.5em;
}