.header {
	@apply flex flex-nowrap flex-row m-0 p-0 pl-4 pr-4;
	
	.site-info {
		.site-details {
			min-width: 300px;

			@media( max-width: 440px ) {
				min-width: auto;
			}
		}

		img {
			margin: 0;
		}
	}

	nav {
		flex: 1;
		@apply flex justify-end;

		.wp-block-navigation__responsive-close {
			max-width: 100% !important;
			display: flex; 
			justify-content: flex-end;
		}

		ul {

			li {
				@apply relative text-link-active p-2 pl-0 pr-0;
				@apply m-0 !important;
				
				a {
					@apply text-link-active;
					padding: 0 0.5rem !important;

					&:hover {
						@apply text-link-hover;
					}
				}

				ul {

					@apply border-slate-200 !important;
					min-width: 165px !important;

					li {
						@apply relative border-b border-slate-200;			 

						&:last-of-type {
							@apply border-b-0;
						}

						ul {
							@apply bg-slate-100 !important;
							top: -1px !important;
							min-width: 0px;
							transition: all .4s ease-in !important;

							a {
								@apply border-b border-slate-200;
							}
	
							&:last-of-type {
								a {
									@apply border-b-0;
								}
							}
						}
					}
				}


 				&:nth-last-child(-n+0):first-of-type, 
				&:nth-last-child(-n+1):first-of-type {
					&.wp-block-navigation-submenu {
						ul {
							left: -100% !important;
						}
					}
				}
			}			
		}
	}

	@media( max-width: 600px ) {
		.wp-block-navigation {

			&__responsive-dialog  {
				margin-top: 0px !important;
			}
	
			&__responsive-container-content {
				padding-top: 2rem !important;
			}
	
			&__responsive-dialog  {
				@apply w-full;
	
				ul {
					@apply w-full m-0 p-0 !important;
					transition: max-height .4s ease-in-out !important;
		
					li {
						@apply w-full p-2 pl-0 pr-0 !important;
						@apply border-b border-slate-200;
				
						a {
							padding: 0 !important;
						}

						button {
							display: block !important;
							position: absolute;
							right: 0;
							top: 7px;
						}

						button[aria-expanded="false"] + ul {
							@apply h-0 invisible !important;
							overflow: hidden;
							max-height: 0;
						}
						
						button[aria-expanded="true"] + ul {
							@apply h-auto visible !important;
							overflow: auto;
							max-height: 500px;
						}	
					}
				}
			}
		}
	}
}