.header {
	@apply flex flex-nowrap flex-row m-0 p-0 pl-4 pr-4;

	.site-info {
		flex-direction: row !important;
		min-width: 300px;
	}
	.wp-block-site-logo {
		min-width: fit-content;
	}

	nav {
		flex: 1;
		@apply relative flex justify-end;

		.menu-toggle {
			@apply absolute top-1/4 bg-transparent lg:block hidden;
			right: 20px;
			z-index: 3;

			.bar {
				@apply bg-link-active;
				width: 25px;
				height: 3px;
				margin-bottom: 4px;
				transition: all .4s ease-in-out;

				&:nth-child(4) {
					opacity: 1;
					transition: all .3s ease-in;
				}
			}
		}

		ul {
			@apply absolute flex flex-wrap flex-row lg:invisible lg:h-0;
			top: 0;
			right: 2rem;
	
			li {
				@apply relative flex flex-col w-full list-none p-0;
				width: 100%;
				max-width: 180px;
				width: auto;
	
				a {
					@apply flex no-underline;
					padding: 0.5rem 0.8rem;
				}

				a[aria-expanded="true"]{
					@apply font-semibold;
				}

				&.menu-item-has-children {
					padding-right: calc( 16px + .5rem );
					&:after {
						@apply absolute;
						top: 16px;
						right: 0;
						width: 13px;
						height: 13px;
						margin-left: 5px;
                        margin-right: 2px;
						margin-top: 1px;
						transform: rotate(90deg);
						content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' class='right' width='9' height='12' fill='%23284db5' viewBox='0 0 9 12'%3E%3Cpolygon points='0 1, 0 11, 8 6'%3E%3C/polygon%3E%3C/svg%3E");	
					}		
				}

				.sub-menu {
					@apply relative bg-white h-0 w-0 flex flex-col flex-nowrap top-0 left-0 right-0 p-0 m-0 invisible;
					max-height: auto;
					top: -1px !important;

					li {
						@apply m-0 p-0;
					}
 
                    .menu-item-has-children { 
                        &:after {
							
                        }
						&--down {
							&:after {
								top: 8px !important;
								transform: rotate(0deg);
							}
						}
                    }
				}

				.sub-menu--open {
					@apply visible h-auto;
					width: calc( 100% + 16px );
					z-index: 6;
                    @apply border-t border-b border-slate-200;

					li {
                        @apply border-l border-r border-b border-slate-200;

						&:last-of-type {
							border-bottom: 0;
						}

						.sub-menu { 
                            transition: all .3s ease-in-out;
                            position: absolute;
                            top: 0;
                            left: 100%;
                            width: 0;
                            @apply bg-slate-100;
                            opacity: 0;

                            &--open {
                                width: 100%;
                                opacity: 1;
                            }
						}
					}
				}
 
                /*&:nth-last-child(-1n+2),*/
                &:nth-last-child(-1n+1) {
                    .sub-menu--open {
                        li {
                            .sub-menu {
                                left: auto;
                                right: 100%;
                            }
                        }
                    }
                }
			}
		}

		&.navbar--open {
			@apply absolute w-full h-full z-10; 
			top: 0;
			left: 0;
			background: rgba( 0,0,0, 0.8);
			min-height: 100%;
			height: fit-content;

			.menu-toggle {
				top: 30px;
				@apply block !important;

				.bar {
					@apply bg-slate-400; 
				
					&:nth-child(2) {
						transform:rotate(-45deg);
						position: relative;
						top: 7px;
					}

					&:nth-child(3) {
						transform:rotate(45deg);
					}

					&:nth-child(4) {
						opacity: 0;
					}
				}
			}

			div {
				width:  100%;
				@apply bg-white;

				ul {
					@apply relative flex-col flex-nowrap justify-start items-start visible h-auto;
					width: calc( 100% - 2rem );
					padding-top: 30px;
					margin-right: 1rem;
					margin-left: 1rem;

					li {
						@apply flex w-full flex-col justify-start items-start border-b border-slate-200;
						max-width: calc( 100% + 16px );

						&.menu-item-has-children {
							padding-right: calc( 16px + .5rem );
							&:after { 
								right: 0 !important;
							}
						} 

						.sub-menu {
							@apply invisible w-0 m-0 p-0 flex;
							opacity: 0;
							transition: opacity 500ms ease-in-out, max-height 500ms ease-in-out;
							max-height: 0;
							height: 0;

							&--open {
								@apply relative visible flex;
								opacity: 1;
								width: calc( 100% + 24px ) !important;
								top: 0;
								left: 0 !important;
								right: 0;
								height: auto;
								max-height: 600px !important;
						
								.menu-item-has-children {
									padding-right: calc( 16px + .5rem );
									&:after { 
										right: 0
									}
								}

								.sub-menu {
									@apply bg-white;
								}
							}
						}

                        .sub-menu--open { 
                            @apply border-t border-b-0 border-slate-200;

                            li {
                                @apply border-0;
                            }							
                        }
					}
				}
			}
		}
	}
}