<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"body-copy","className":"no-y-margin"} -->
<div class="wp-block-columns alignwide no-y-margin has-body-copy-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"55%","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","right":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40);flex-basis:55%"><!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}},"layout":{"type":"constrained","contentSize":"75%"}} -->
    <div class="wp-block-group" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><!-- wp:heading {"level":6,"style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"spacing":{"padding":{"bottom":"var:preset|spacing|20"}}},"textColor":"gray-md"} -->
    <h6 class="has-gray-md-color has-text-color" style="padding-bottom:var(--wp--preset--spacing--20);font-style:normal;font-weight:300">WORDPRESS DEVELOPMENT WORKFLOW</h6>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"level":1,"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}},"typography":{"fontStyle":"normal","fontWeight":"100"}},"textColor":"white"} -->
    <h1 class="has-white-color has-text-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-style:normal;font-weight:100">The Hybrid WordPress Theme</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"top":"var:preset|spacing|10","right":"0","bottom":"var:preset|spacing|20","left":"0"}}},"textColor":"gray-md"} -->
    <p class="has-gray-md-color has-text-color" style="padding-top:var(--wp--preset--spacing--10);padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:0">One part block theme, one part classic theme, Rescores hybrid WordPress theme lets you take advantage of both the old and new way of building WordPress sites with support for the full site editor and the customizer.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"#168a97"}}}},"textColor":"gray-md","fontSize":"small"} -->
    <p class="has-gray-md-color has-text-color has-link-color has-small-font-size"><em>Photo by <a href="https://unsplash.com/@josepmartins?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Josep Martins</a> on <a href="https://unsplash.com/photos/Y9gO2z77Udk?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></em></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|30"}}}} -->
    <div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--30)"><!-- wp:button {"style":{"color":{"background":"#168a97"}}} -->
    <div class="wp-block-button"><a class="wp-block-button__link has-background wp-element-button" style="background-color:#168a97">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"bottom","width":"45%"} -->
    <div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:45%"><!-- wp:cover {"url":"/wp-content/uploads/2023/02/josep-martins-Y9gO2z77Udk-unsplash-scaled.jpg","id":2077,"dimRatio":30,"minHeight":581,"minHeightUnit":"px","isDark":false,"align":"full"} -->
    <div class="wp-block-cover alignfull is-light" style="min-height:581px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-2077" alt="" src="/wp-content/uploads/2023/02/josep-martins-Y9gO2z77Udk-unsplash-scaled.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size"></p>
    <!-- /wp:paragraph --></div></div>
    <!-- /wp:cover --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"7rem","right":"var:preset|spacing|50","bottom":"7rem","left":"var:preset|spacing|50"}}},"backgroundColor":"gray-lt","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-gray-lt-background-color has-background" style="padding-top:7rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:7rem;padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;flex-basis:100%"><!-- wp:group {"layout":{"type":"constrained","contentSize":"80%"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"28px","fontStyle":"italic","fontWeight":"400"}},"textColor":"body-copy"} -->
    <p class="has-text-align-center has-body-copy-color has-text-color" style="font-size:28px;font-style:italic;font-weight:400"><em>Exploring the line between blocks and classic development, Rescores is an experimental theme to help you develop new WordPress websites.</em></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"7rem","right":"var:preset|spacing|70","bottom":"7rem","left":"var:preset|spacing|70"}},"color":{"background":"#272734"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-background" style="background-color:#272734;padding-top:7rem;padding-right:var(--wp--preset--spacing--70);padding-bottom:7rem;padding-left:var(--wp--preset--spacing--70)"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;flex-basis:100%"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"var:preset|spacing|40","left":"0"}}},"textColor":"gray-lt"} -->
    <h2 class="has-gray-lt-color has-text-color" style="margin-top:0;margin-right:0;margin-bottom:var(--wp--preset--spacing--40);margin-left:0">Build how you like, then zip it up</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;flex-basis:100%"><!-- wp:media-text {"mediaId":2150,"mediaLink":"http://rescored.local/brett-jordan-m9nvqelethu-unsplash/","mediaType":"image","mediaWidth":55,"imageFill":true,"style":{"color":{"background":"#47556900"}}} -->
    <div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill has-background" style="background-color:#47556900;grid-template-columns:55% auto"><figure class="wp-block-media-text__media" style="background-image:url(photo.png);background-position:50% 50%"><img src="photo.png" alt="" class="wp-image-2150 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:paragraph {"placeholder":"Content…","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"textColor":"gray-lt"} -->
    <p class="has-gray-lt-color has-text-color" style="font-style:normal;font-weight:300">You can use theme.json to style theme blocks, while the integrated Tailwind workflow transpiles theme.json into global css which can be used for non-block elements like headings, links, and paragraphs.  Once you are done coding, use npm run run zip to zip up your theme for uploading to a new site leaving the development tools out of production code. </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"#a63514"}}},"typography":{"fontStyle":"italic","fontWeight":"300"}},"textColor":"gray-md","fontSize":"small"} -->
    <p class="has-gray-md-color has-text-color has-link-color has-small-font-size" style="font-style:italic;font-weight:300">Photo by <a href="https://unsplash.com/@brett_jordan?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Brett Jordan</a> on <a href="https://unsplash.com/photos/M9NVqELEtHU?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"align":"left","style":{"color":{"background":"#a63514"}}} -->
    <div class="wp-block-button alignleft"><a class="wp-block-button__link has-background wp-element-button" style="background-color:#a63514">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div></div>
    <!-- /wp:media-text --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"7rem","right":"var:preset|spacing|70","bottom":"7rem","left":"var:preset|spacing|70"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-white-background-color has-background" style="padding-top:7rem;padding-right:var(--wp--preset--spacing--70);padding-bottom:7rem;padding-left:var(--wp--preset--spacing--70)"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;flex-basis:100%"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"var:preset|spacing|40","left":"0"}}},"textColor":"body-copy"} -->
    <h2 class="has-text-align-center has-body-copy-color has-text-color" style="margin-top:0;margin-right:0;margin-bottom:var(--wp--preset--spacing--40);margin-left:0">The Foundation</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"verticalAlignment":null} -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:image {"id":2153,"width":100,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full is-resized"><img src="photo.png" alt="" class="wp-image-2153" width="100"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"level":6,"textColor":"body-copy"} -->
    <h6 class="has-body-copy-color has-text-color">CLASSIC PHP</h6>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","textColor":"body-copy","fontSize":"small"} -->
    <p class="has-text-align-center has-body-copy-color has-text-color has-small-font-size">The same old PHP templates pulling HTML block parts instead of get_template_parts() PHP files.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"top"} -->
    <div class="wp-block-column is-vertically-aligned-top"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:image {"align":"center","id":2154,"width":63,"height":71,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image aligncenter size-full is-resized"><img src="photo.png" alt="" class="wp-image-2154" width="63" height="71"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"level":6,"textColor":"body-copy"} -->
    <h6 class="has-body-copy-color has-text-color">HTML / CSS</h6>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","textColor":"body-copy","fontSize":"small"} -->
    <p class="has-text-align-center has-body-copy-color has-text-color has-small-font-size">By using the HTML block parts within the classic theme php templates you gain access to the full site editor which allows creation of no-code page templates.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:image {"id":2155,"width":125,"height":68,"sizeSlug":"thumbnail","linkDestination":"none"} -->
    <figure class="wp-block-image size-thumbnail is-resized"><img src="photo.png" alt="" class="wp-image-2155" width="125" height="68"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","level":6} -->
    <h6 class="has-text-align-center">Javascript and Node</h6>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:paragraph {"align":"center","fontSize":"small"} -->
    <p class="has-text-align-center has-small-font-size">Leverage theme.json within a classic theme for global css and leave the development tools behind by creating a clean theme zip file for production.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"},"spacing":{"padding":{"top":"var:preset|spacing|60"}}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;padding-top:var(--wp--preset--spacing--60);flex-basis:100%"><!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"align":"center","style":{"color":{"background":"#168a97"}}} -->
    <div class="wp-block-button aligncenter"><a class="wp-block-button__link has-background wp-element-button" style="background-color:#168a97">View on Github</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    <!-- wp:template-part {"slug":"footer"} /-->