<!-- wp:template-part {"slug":"header","theme":"rescores/theme"} /-->

<!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"color":{"background":"#d8e2f0"}},"className":"no-y-margin"} -->
<div class="wp-block-columns alignwide no-y-margin has-background" style="background-color:#d8e2f0;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"55%","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","right":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40);flex-basis:55%"><!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0rem","right":"5rem","bottom":"0rem","left":"5rem"}}},"className":"no-mobile-padding","layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group no-mobile-padding" style="padding-top:0rem;padding-right:5rem;padding-bottom:0rem;padding-left:5rem"><!-- wp:heading {"level":6,"style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"spacing":{"padding":{"bottom":"var:preset|spacing|20"}},"color":{"text":"#454850"}}} -->
    <h6 class="has-text-color" style="color:#454850;padding-bottom:var(--wp--preset--spacing--20);font-style:normal;font-weight:300">WP DEVELOPMENT WORKFLOW</h6>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"level":1,"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"0","bottom":"0","left":"0"}},"typography":{"fontStyle":"normal","fontWeight":"100"},"color":{"background":"#37415200"}},"textColor":"gray-dark"} -->
    <h1 class="has-gray-dark-color has-text-color has-background" style="background-color:#37415200;padding-top:var(--wp--preset--spacing--20);padding-right:0;padding-bottom:0;padding-left:0;font-style:normal;font-weight:100">The Hybrid WordPress Theme</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"top":"var:preset|spacing|10","right":"0","bottom":"var:preset|spacing|20","left":"0"}},"typography":{"lineHeight":"1.5"}},"textColor":"gray-dark"} -->
    <p class="has-gray-dark-color has-text-color" style="padding-top:var(--wp--preset--spacing--10);padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:0;line-height:1.5">One part block theme, one part classic theme, Rescores hybrid WordPress theme lets you take advantage of both the old and new way of building WordPress sites with support for the full site editor and the customizer.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|30"}}}} -->
    <div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--30)"><!-- wp:button {"textColor":"link-active","style":{"color":{"background":"#37415200"}},"className":"is-style-squared is-style-outline"} -->
    <div class="wp-block-button is-style-squared is-style-outline"><a class="wp-block-button__link has-link-active-color has-text-color has-background wp-element-button" style="background-color:#37415200">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"bottom","width":"45%"} -->
    <div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:45%"><!-- wp:cover {"url":"/wp-content/themes/rescores/theme/assets/images/el-cap.jpg","id":2073,"dimRatio":60,"customOverlayColor":"#89a7d8","minHeight":581,"minHeightUnit":"px","isDark":false,"align":"full","className":"sm-mobile-image"} -->
    <div class="wp-block-cover alignfull is-light sm-mobile-image" style="min-height:581px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-60 has-background-dim" style="background-color:#C2D2EA"></span><img class="wp-block-cover__image-background wp-image-2073" alt="" src="/wp-content/themes/rescores/theme/assets/images/el-cap.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size"></p>
    <!-- /wp:paragraph --></div></div>
    <!-- /wp:cover --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"7rem","right":"var:preset|spacing|50","bottom":"7rem","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:7rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:7rem;padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;flex-basis:100%"><!-- wp:group {"layout":{"type":"constrained","contentSize":"100%"}} -->
    <div class="wp-block-group"><!-- wp:paragraph -->
    <p></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"textColor":"gray-dark","fontSize":"small"} -->
    <p class="has-gray-dark-color has-text-color has-small-font-size"><em>"Between every two pine trees there is a door leading to a new way of life." ~ John Muir</em></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"7rem","right":"0","bottom":"7rem","left":"0"}}},"backgroundColor":"gray-lt","layout":{"type":"constrained","contentSize":"90%"}} -->
    <div class="wp-block-group has-gray-lt-background-color has-background" style="padding-top:7rem;padding-right:0;padding-bottom:7rem;padding-left:0"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","className":"has-background"} -->
    <div class="wp-block-column has-background" style="flex-basis:100%"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0","right":"var:preset|spacing|10","bottom":"var:preset|spacing|40","left":"var:preset|spacing|10"}}},"textColor":"link-visited"} -->
    <h2 class="has-link-visited-color has-text-color" style="margin-top:0;margin-right:var(--wp--preset--spacing--10);margin-bottom:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--10)">Re-examining how you build</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;flex-basis:100%"><!-- wp:media-text {"mediaId":2072,"mediaLink":"/wp-content/themes/rescores/theme/assets/images/columbia-gardens-one.jpg","mediaType":"image","mediaWidth":36,"imageFill":true,"style":{"color":{"background":"#47556900"}}} -->
    <div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill has-background" style="background-color:#47556900;grid-template-columns:36% auto"><figure class="wp-block-media-text__media" style="background-image:url(/wp-content/themes/rescores/theme/assets/images/columbia-gardens-one.jpg" alt="" class="wp-image-2072 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:paragraph {"placeholder":"Content…","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"textColor":"link-visited"} -->
    <p class="has-link-visited-color has-text-color" style="font-style:normal;font-weight:300">Building a block theme will get you part of the way there and in many cases all the way there for smaller sites, however, with larger blogs that have custom features, you may want more advanced patterns or templates requiring PHP. The WP theme.json lets you style many common elements and blocks, but anything that falls outside of that is not included unless you create custom styles. This could includes things like tables, lists, code, and pre elements. Rescores lets you use Tailwind to add in the extra css you might need without all the bulk of a full css framework. You can also add elements to the theme.json and they will be transpiled via Tailwind into global css. When your all done building, just use npm run zip to create a zip file of your theme that excludes your development tools and is ready to upload and activate.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"textColor":"link-active","align":"left","style":{"color":{"background":"#178a9600"}},"className":"is-style-squared is-style-outline"} -->
    <div class="wp-block-button alignleft is-style-squared is-style-outline"><a class="wp-block-button__link has-link-active-color has-text-color has-background wp-element-button" style="background-color:#178a9600">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div></div>
    <!-- /wp:media-text --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"7rem","right":"var:preset|spacing|70","bottom":"7rem","left":"var:preset|spacing|70"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-white-background-color has-background" style="padding-top:7rem;padding-right:var(--wp--preset--spacing--70);padding-bottom:7rem;padding-left:var(--wp--preset--spacing--70)"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;flex-basis:100%"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"var:preset|spacing|40","left":"0"}}},"textColor":"body-copy"} -->
    <h2 class="has-text-align-center has-body-copy-color has-text-color" style="margin-top:0;margin-right:0;margin-bottom:var(--wp--preset--spacing--40);margin-left:0">Setting the Scene</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"0","bottom":"0","left":"var:preset|spacing|30"}}}} -->
    <div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--30);padding-right:0;padding-bottom:0;padding-left:var(--wp--preset--spacing--30)"><!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
    <div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:image {"width":125,"height":68,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} -->
    <figure class="wp-block-image size-full is-resized is-style-rounded"><img src="/wp-content/themes/rescores/theme/assets/images/marshall-park-one.jpg" alt="" width="125" height="68"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"level":6,"textColor":"body-copy"} -->
    <h6 class="has-body-copy-color has-text-color">Type &amp; Format</h6>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","textColor":"body-copy"} -->
    <p class="has-text-align-center has-body-copy-color has-text-color">Headings, blockquotes, tables, lists, and<br> other basic elements.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"top","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
    <div class="wp-block-column is-vertically-aligned-top" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:image {"align":"center","width":125,"height":68,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} -->
    <figure class="wp-block-image aligncenter size-full is-resized is-style-rounded"><img src="/wp-content/themes/rescores/theme/assets/images/marshall-park.jpg" alt="" width="125" height="68"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"level":6,"textColor":"body-copy"} -->
    <h6 class="has-body-copy-color has-text-color">In the Blogs</h6>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","textColor":"body-copy"} -->
    <p class="has-text-align-center has-body-copy-color has-text-color">Posts, archives, and categories – A WP<br> site must have a blog layout.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
    <div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:image {"width":125,"height":68,"sizeSlug":"full","linkDestination":"none","className":"aligncenter is-style-rounded"} -->
    <figure class="wp-block-image size-full is-resized aligncenter is-style-rounded"><img src="/wp-content/themes/rescores/theme/assets/images/columbia-gardens-one.jpg" alt="" width="125" height="68"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","level":6} -->
    <h6 class="has-text-align-center">Oh Buttons!</h6>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Square ones, round ones, outlined, but<br> not upside down ones.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%","style":{"color":{"background":"#0f172900"},"spacing":{"padding":{"top":"var:preset|spacing|60"}}}} -->
    <div class="wp-block-column has-background" style="background-color:#0f172900;padding-top:var(--wp--preset--spacing--60);flex-basis:100%"><!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"textColor":"emerald-green","align":"center","style":{"color":{"background":"#178a9600"}},"className":"is-style-outline"} -->
    <div class="wp-block-button aligncenter is-style-outline"><a class="wp-block-button__link has-emerald-green-color has-text-color has-background wp-element-button" style="background-color:#178a9600">View on Github</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"rescores/theme"} /-->