/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */
/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-white font-sans text-body-copy leading-normal;
}

body .is-layout-flow > * + * {
    margin-block-start: 10px;
    margin-block-end: 0;
}	

#content {
	@apply pt-10;
}

.header {
	@apply flex flex-nowrap flex-row m-0 p-0 pl-4 pr-4;

	.site-info {
		flex-direction: row !important;
		min-width: 300px;
	}
	.wp-block-site-logo {
		min-width: fit-content;
	}

	nav {
		flex: 1;
		@apply relative flex justify-end;

		.menu-toggle {
			@apply absolute top-1/4 bg-transparent lg:block hidden;
			right: 20px;
			z-index: 3;

			.bar {
				@apply bg-slate-900;
				width: 25px;
				height: 3px;
				margin-bottom: 4px;
				transition: all .4s ease-in-out;

				&:nth-child(4) {
					opacity: 1;
					transition: all .3s ease-in;
				}
			}
		}

		&.navbar--open {
			@apply absolute w-full h-full z-10; 
			top: 0;
			left: 0;
			background: rgba( 0,0,0, 0.8);

			.menu-toggle {
				top: 30px;
				@apply block !important;

				.bar {
					@apply bg-slate-400; 
				
					&:nth-child(2) {
						transform:rotate(-45deg);
						position: relative;
						top: 7px;
					}

					&:nth-child(3) {
						transform:rotate(45deg);
					}

					&:nth-child(4) {
						opacity: 0;
					}
				}
			}

			div {
				width:  100%;
				@apply bg-white;

				ul {
					@apply bg-white flex-col flex-nowrap justify-start items-start visible h-auto;
					width: calc( 100% - 2rem );
					padding-top: 30px;
					margin-right: 1rem;
					margin-left: 1rem;

					li {
						@apply flex w-full flex-col justify-start items-start border-b border-slate-200;
						flex: 0 0 100%;
						margin: 0;
						padding: 0.5rem 0;

						.sub-menu {
							@apply hidden h-0 w-0 m-0 p-0;
							visibility: hidden;
							padding-top: 0;

							&--open {
								@apply relative visible block h-auto w-full !important;
								box-shadow: 0 0 0;
							}
						}
					}
				}
			}
		}

		ul {
			@apply relative flex flex-wrap flex-row lg:invisible lg:h-0;
			top: 0;
			right: 2rem;
	
			li {
				@apply relative flex list-none pl-0;
	
				a {
					@apply flex no-underline pr-3 pl-3;
				}

				&.menu-item-has-children {
					display: flex;
					&:after {
						@apply float-left inline;
						width: 16px;
						height: 13px;
						margin-left: 5px;
						margin-top: 2px;
						content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");	
					}		
				}
				
				.sub-menu {
					@apply absolute h-0 w-0 flex flex-col flex-nowrap bg-white z-10 top-4 left-0 p-1 invisible;
					@apply pl-0 !important;
					max-height: auto;

					li {
						@apply m-0 p-0 pt-1 pb-1;
					}

					&--open {
						@apply visible h-auto w-full;
						
						li {
							border-bottom: 1px solid #ededed;

							&:last-of-type {
								border-bottom: 0;
							}
						}
					}
				}	 
			}
		}	
	}
}

:not(#content) ~ footer, :not(#content) ~.footer {
	@apply bg-gray-900 text-slate-50 mt-4;

	a {
		@apply text-slate-400;
	}
	.wp-block-site-title {
		a {
			@apply text-slate-400;
		}
	}
}


.aligncenter {
	@apply m-auto;
}

.alignleft {
	@apply inline float-left align-top m-3 mt-0 ml-0;
}

.alignright {
	@apply inline float-right align-top m-3 mt-0 mr-0;
}

.wp-caption-text {
	@apply text-gray-dark text-sm pt-2 pb-2 italic;
}

.wp-block-post-content  {
	&:after {
		display:block;
		content: "";
		clear: both;
	}

	p:after {
		content: "";
		display: table;
		clear: both;
	}

}