.wp-block-post {
	&-title  {
		@apply mt-0 mb-0 pt-0 pb-0 !important;
	}

	&-content  {
		&:after {
			display:block;
			content: "";
			clear: both;
		}
	
		p:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	@apply bg-slate-100 !important;
}

dl {
	@apply pb-4;
	dt {
		@apply font-semibold mt-2;
	}
}

.page-title, .entry-title {
 	margin-left: 0;
}

figure.wp-block-pullquote {
    margin: 3rem 0;

    blockquote {
        border-left: 0;
		border: 0 !important;
    }
}

.wp-block-quote, blockquote {
	@apply border mt-2 mb-2 border-0 !important;
	border-radius: 4px;

	p {
		padding: 0 0 0.5rem 0;
		margin: 0;
	}

	&.has-text-align-right {
		@apply border-0 !important;
	}
}

.wp-calendar-table {
	text-align: center;
}

.wp-block-calendar {
	table {
		border-radius: 4px;

		caption {
			@apply pt-4 pb-4;
		}
		th {
			@apply bg-slate-200 font-semibold !important;
		}
	}
	.pad {
		display: none;
	}
}

.wp-block-post-template {	

	.wp-block-post {
		@apply shadow-lg p-0;
	}

	.wp-block-post-featured-image {
		@apply m-0 p-0;
	}

	.wp-block-post-date, 
	.wp-block-post-title,
	.wp-block-post-excerpt {
		@apply pl-6 pr-6;
	}
}

.primary-colors-container {
	.wp-block-column {
		min-height: 50px;
	}
}

.custom-bg-cover {
	@media( max-width: 600px ) {
		padding: 0 !important;

		.alignwide {
			max-width: 100% !important;
		}

		.wp-block-cover {
			min-height: 300px !important;
			img {
				height: 300px;
			}
		}
	}
}